<h1>Gabriel's fullstack takehome</h1>
<p>Hello Prima, the github link for this assignment is <a href='https://github.com/imjustlooking/fullstack_assignment'> here </a>. <br>

  <h3> To see the JSON response: </h3>
  <ul> <li> <a href='/orders'>orders </a> </li>
  <li> You'll have to type the '/G0001' afterwards because it's a bit too much work. </li> </ul>
</p>
